<div th:fragment="navbar">
  <nav
    class="bg-accent p-4 text-primary shadow-md backdrop-blur-md bg-opacity-90 sticky top-0 z-50"
  >
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <a
        href="/"
        class="text-2xl font-semibold tracking-wide font-serif hover:text-color-secondary transition-colors"
        >CampusCart</a
      >

      <!-- Navigation Links -->
      <ul class="flex space-x-6 items-center text-sm md:text-base">
        <li>
          <a
            href="/marketplace"
            class="transition-colors duration-300 hover:text-[#D4A373] hover:underline"
            >Marketplace</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="transition-colors duration-300 hover:text-[#D4A373] hover:underline"
            >About us</a
          >
        </li>
        <li>
          <a
            href="/contactus"
            class="transition-colors duration-300 hover:text-[#D4A373] hover:underline"
            >Contact us</a
          >
        </li>
        <li sec:authorize="!isAuthenticated()">
          <a
            href="/signin"
            class="transition-colors duration-300 hover:text-[#D4A373] hover:underline"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>