/* :root:has(input.theme-controller[value=emerald]:checked),[data-theme="emerald"] { */
:root {
/* color-scheme: light; */
--color-base-100: #f1fafc;
--color-base-200: #f1fafc;
--color-base-300: #f1fafc;
--color-base-content: oklch(20.369% 0.01105 260.695);
--color-primary: #7c5a5a;
--color-primary-content: #f7f4f6;
--color-secondary: #f1d0d0;
--color-secondary-content:  #3c0a2b ;
--color-accent:  #f3e2e2;
--color-accent-content: oklch(20.369% 0.01105 260.695);
--color-neutral: oklch(35.519% 0.032 262.988);
--color-neutral-content: oklch(98.462% 0.001 247.838);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--color-navbarBg: #b18484,
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 0;
--noise: 0;
}
