/* Light mode (default) */
:root {
  --color-base-100: #f1fafc;
  --color-base-200: #f1fafc;
  --color-base-300: #f1fafc;
  --color-base-content: #111111;
  --color-primary: #7c5a5a;
  --color-primary-content: #f7f4f6;
  --color-secondary: #f1d0d0;
  --color-secondary-content: #3c0a2b;
  --color-accent: #f3e2e2;
  --color-accent-content: #111111;
  --color-navbarBg: #b18484;
}

/* Dark mode overrides */
.dark {
  --color-base-100: #1a1a1a;
  --color-base-200: #2a2a2a;
  --color-base-300: #3a3a3a;
  --color-base-content: #f5f5f5;

  --color-primary: #FFE6A7;
  --color-primary-content: #1a1a1a;

  --color-secondary: #774936;
  --color-secondary-content: #ffffff;

  --color-accent: #6F1D1B;
  --color-accent-content: #edc4b3;

  --color-navbarBg: #432818;
}
